
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.slide-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.slide-right {
  animation: slideInRight 0.8s ease-out forwards;
}

.slide-top {
  animation: slideInTop 0.8s ease-out forwards;
}

.slide-bottom {
  animation: slideInBottom 0.8s ease-out forwards;
}


.btnCancel {
  background: #9CA3AF;
  color: white;
}
.btnDelete {
  background: #ef4444;
  color: white;
}
.btnConfirm {
  background: #22c55e;
  color: white;
}
.btnWarn {
  background: #facc15;
  color: #1f2937;
}
